SERVER_MODE=debug
SERVER_ADDRESS=:8080
DATABASE_DSN=
host=localhost 
user=postgres 
password=qwe 
dbname=budget_user_db 
port=5432 
sslmode=disable
AUTH_JWT_SECRET=change-me
AUTH_ACCESS_TTL=15m
AUTH_REFRESH_TTL=720h
AUTH_PASSWORD_COST=12
AUTH_ISSUER=budget-family
MIGRATE_AUTO=true
MIGRATE_PATH=file://migrations
REDIS_ENABLED=false
REDIS_ADDR=localhost:6379
REDIS_PASS=
REDIS_DB=0
